body{
    margin: 10px 0px;
    padding: 0;
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 700px;
}

.main{
    display: flex;
    justify-content: space-between;
}

.main a{
    text-decoration: none;
    color: white;
}

.icon{
    margin: 10px 0px 0px 50px; 
}

.icon p{
    font-size: 25px;
}

.icon:hover{
    cursor: pointer;
    border: 1px solid transparent;
    color: black;
    border-radius: 10px;
}

#name{
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 15px;
    transition: color 0.5s;
}

#name:hover{
    color: black;
}

.header{
    margin-right: 120px;
    height: 50px;
    width: 70%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.header a{
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    color: black;
    text-align: left;
    transition: background 0.5s, color 0.5s;
}

.header a:hover{
    padding: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    color: white;
    background-color: rgb(92, 74, 232);
    border-radius: 6px;
}

.section{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.section img{
    height: auto;
    width: 25px;
    justify-content: space-between;
}

.section img:hover{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    background-color: rgb(10, 201, 10);
    border-radius: 10px;
}

.middle{
    display: flex;
}

.page-body{
    border: 2px solid transparent;
    background-color: rgb(130, 103, 53);
    border-radius: 15px;
    margin: 0px 10%;
    text-align: center;
    padding: 30px;
    width: 25%;
    height: 40%;
    color: white;
    transition: color 0.5s;
}

.page-body:hover{
    color: black;
    background-color: wheat;
}

.page-body button{
    background-color: coral;
    padding: 5px;
    border-radius: 10px;
}

.page-body button:hover{
    padding: 10px;
    height: auto;
    width: auto;
    color: rgb(241, 194, 146);
    background-color: rgb(0, 119, 255);
}

.page-body a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.page-body a:hover{
    color: white;
}

.form{
    margin: 0px 120px;
    text-align: center;
    width: 30%;
    background-color: black;
    height: 330px;
    color: white;
    border-radius: 20px;
}

#label{
    width: 80%;
    margin: 30px 20px;
    font-size: 30px;
    color: blue;
    background-color: rgb(247, 247, 109);
    border: 2px solid transparent;
    border-radius: 10px;
}

.form input{
    margin: 5px 0px;
    border-radius: 10px;
    padding: 5px 20px;
    outline: none;
}

.form input:hover{
    background-color: lightcoral;
    color: white;
}

.form input:hover::placeholder{
    color: white;
}

.form button{
    color: rgb(24, 33, 41);
    background-color: rgb(215, 181, 181);
    padding: 5px 15px;
    border-radius: 10px;
    transition: height 0s, width 0s, color 0.5s, background 0.5s;
}

.form button:hover{
    color: white;
    background-color: gray;
    padding: 10px 20px;
}

footer{
    margin-top: 10px;
    text-align: center;
    color: white;
}

#foot1{
    float: left;
    margin-left: 50px;
}

#foot2{
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}